WebAPIODataV4SQLite/bin
WebAPIODataV4SQLite/obj
WebAPIODataV4SQLite.v12.suo
WebAPIODataV4.Client.v12.suo
WebAPIODataV4.Client/bin/Debug
WebAPIODataV4.Client/obj
WebAPIODataV4.Client/bin
ODataBatchingWithActions/bin
ODataBatchingWithActions/obj
WebAPIODataV4SQLite.v11.suo
